.subheader,.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{line-height:1.45;margin-top:0;margin-bottom:.25em;}
.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{text-rendering:optimizeLegibility;text-align:left;font-style:italic;}
table.tableblock>caption.title{white-space:nowrap;overflow:visible;max-width:0;}
.paragraph.lead>p,#preamble>.sectionbody>.paragraph:first-of-type p{color:rgba(0,0,0,.85);}
table.tableblock #preamble>.sectionbody>.paragraph:first-of-type p{}
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%;}
.admonitionblock>table td.icon{text-align:center;width:80px;}
.admonitionblock>table td.icon img{max-width:none;}
.admonitionblock>table td.icon .title{text-transform:uppercase;}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6);}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0;}
.admonitionblock td {border: none}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default;}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c;}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111;}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900;}
.admonitionblock td.icon .icon-caution:bfefore{content:"\f06d";color:#bf3400;}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000;}
.conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(169,169,169,0.8)!important;-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]::after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}
.hdlist>table,.colist>table{border:0;background:none}
.hdlist>table>tbody>tr,.colist>table>tbody>tr{background:none}
td.hdlist1,td.hdlist2{vertical-align:top;padding:0 .625em}
td.hdlist1{font-weight:bold;padding-bottom:1.25em}
dt.hdlist1{font-weight:bold;color:var(--MAIN-TITLES-TEXT-color) !important; }
.literalblock+.colist, td {border: none}
.literalblock+.colist,.listingblock+.colist{margin-top:-.5em}
.colist td:not([class]):first-child{padding:.4em .75em 0;line-height:1;vertical-align:top;width:.1em}
.colist td:not([class]):first-child img{max-width:none}
.colist td:not([class]):last-child{padding:.25em 0}
.left{float:left!important}
.imageblock.left{margin:.25em .625em 1.25em 0}
.image.left,.image.right{margin-top:.25em;margin-bottom:.25em;display:inline-block;line-height:0}
.image.left{margin-right:.625em}
.image.right{margin-left:.625em}
.imageblock.right{margin:.25em 0 1.25em .625em}
.image.right{margin-left:.625em}
table.linenotable {border:none;}
table.linenodiv.td {border:none;width: 1em;}
table.hljs-number{width: 1em}
.linenodiv {width: .1em;}
pre.pygments {padding: 0;margin: unset;background: none}
